.first-container{
    background-color: rgb(235, 239, 243);
    border: 1px solid yellow;
    margin: 140px 0px 0px 380px;
    width: 450px;
    padding: 52px 60px 50px 30px;
    outline: dashed 1px black;
}

  .form-group{
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
  }

  input[type=text] {
    width: calc(100% - 100px);
    height: 30px;
    margin: 4px 0 0 -1px;
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
    }

.region-group{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

select#region-select{
    margin-left: 20px;
    font-weight: 700;
    position: relative;
    width: 230px;
    text-align: center;
}

select#region-select
{
  background-color: #fff;
  padding: 5px;
  border-radius: 25px;
}

/* CSS for button */
button {
  background-color: rgb(43, 236, 85);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 26px 0px 0px 200px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: rgb(6, 117, 6);
}


@media screen and (max-width: 576px) {
  /* Styles for screens smaller than 576px */
  .first-container {
  margin: 30px auto;
  width: 90%;
  padding: 20px;
  }
  
  select#region-select {
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
  }
  
  button {
  margin: 20px auto;
  }
  
  input[type=text] {
  width: 100%;
  margin: 4px 0 10px 0;
  border-radius: 5px;
  }
  
  .form-group {
  font-size: 16px;
  margin-bottom: 10px;
  }
  
  .region-group {
  font-size: 16px;
  margin-bottom: 10px;
  }
  
  button {
  font-size: 16px;
  height: 35px;
  padding: 8px 12px;
  }
  }
  
  @media screen and (min-width: 577px) and (max-width: 768px) {
  /* Styles for screens between 577px and 768px */
  .first-container {
  margin: 50px auto;
  width: 90%;
  padding: 30px;
  }
  
  select#region-select {
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
  }
  
  button {
  margin: 20px auto;
  }
  
  input[type=text] {
  width: 100%;
  margin: 4px 0 10px 0;
  border-radius: 5px;
  }
  
  .form-group {
  font-size: 18px;
  margin-bottom: 15px;
  }
  
  .region-group {
  font-size: 18px;
  margin-bottom: 15px;
  }
  }
