.app {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .center-section{
    font-family: arial;
    font-size: 24px;
    position: absolute;
    width: 450px;
    height: 600px;
    outline: dashed 1px black;
    left: 50%;
    transform: translate(-40%, 2%);
  }
  
  .right-section {
    flex: 2.4;
  }
  
  .lab-testing-box,
  .status-box,
  .document-box,
  .check-product-box {
    max-width: 500px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .lab-testing-box p,
  .document-box p,
  .status-box p,
  .check-product-box p {
    margin: 15px 40px;
    font-size: 14px;
    color: #666;
  }
  
  /* CSS */
  button5,
  button6,
  button7{
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    margin: 10px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 14px;
  }
  
  button5:focus,
  button6:focus,
  button7:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  button5:hover,
  button6:hover,
  button7:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  button5:active,
  button6:active,
  button7:active  {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }


  .video-box {
    width: 70%;
    max-width: 700px;
    margin: 16px 3px 3px 10px;
  }
  
  .video-box video {
    width: 70%;
    height: auto;
  }
  
  .video-content {
    
    color: Black;
    padding: 5px;
  }
  
  .video-content h2 {
    font-size: 30px;
    margin-bottom: 2px;
    margin: 1px 9px;
  }
  
  .video-content p {
    font-size: 18px;
    margin: 1px 9px;
  }

  @media only screen and (max-width: 768px) {
    .video-box {
      width: 100%;
      margin: 16px 0 3px;
    }
  
    .video-box video {
      width: 100%;
      height: auto;
    }
  
    .video-content {
      padding: 5px;
    }
  
    .video-content h2 {
      font-size: 24px;
      margin: 0 10px 2px;
    }
  
    .video-content p {
      font-size: 16px;
      margin: 0 10px;
    }
  }
  
  